{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Smart Inventory</title>
    <link rel="stylesheet" href="{% static 'inventory/css/login.css' %}">
    
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<div class="login-wrapper">

    <!-- LEFT SIDE IMAGE -->
    <div class="login-image">
        <img src="{% static 'inventory/css/login.png' %}" alt="Login Illustration">
    </div>

    <!-- RIGHT SIDE LOGIN BOX -->
    <div class="login-box">

        <h2>Welcome Back</h2>
        <p class="subtitle">Login to your account</p>

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <i class="fa fa-user"></i>
                <input type="text" name="username" placeholder="Username" required>
            </div>

            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <button type="submit">Login</button>
            <a href="/signup/" class="signup-btn">Create Account</a>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </form>

    </div>

</div>

</body>
</html>
