/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body */
body {
    min-height: 100vh;
    background: #AED6F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main wrapper */
.login-wrapper {
    width: 90%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Left Image */
.login-image {
    flex: 1;
    text-align: center;
}

.login-image img {
    width: 80%;
    max-width: 400px;
}

/* Login Box */
.login-box {
    flex: 1;
    background: #D4E6F1;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
}

/* Hover effect (0.4s) */
.login-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
}

/* Heading */
.login-box h2 {
    margin-bottom: 8px;
    color: black;
    text-align: center;
}

.subtitle {
    margin-bottom: 25px;
    font-size: 14px;
    color: #3551b5;
    text-align: center;
}

/* Input group */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

/* Inputs */
.input-group input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s ease;
}

/* Focus */
.input-group input:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2);
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Error */
.error {
    margin-top: 15px;
    color: red;
    font-size: 14px;
    text-align: center;
}

.signup-btn {
    display:block;
    margin-top: 10px;
    padding: 12px;
    border-radius: 15px;
    background: transparent;
    border: 2px solid #667eea;
    color: #667eea;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    text-align: center;
}

.signup-btn:hover {
    background: #667eea;
    color: white;
}

/* Responsive */
@media (max-width: 900px) {
    .login-wrapper {
        flex-direction: column;
    }

    .login-image {
        display: none;
    }

    .login-box {
        width: 100%;
        max-width: 400px;
    }
}
