/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: #AED6F1;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    background: #D4E6F1;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.navbar h2 {
    color: #003262;
    font-size: 22px;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #003262;
    font-weight: 500;
}

.nav-links a:hover {
    color: #003262;
}

/* Main layout */
.main {
    flex: 1;
    display: grid;
    grid-template-columns: 1.2fr 0.9fr;
    padding: 30px;
    gap: 20px;
    align-items: center;
}

/* Dashboard container (middle-left) */
.container {
    background: transparent;
}

.container h2 {
    margin-bottom: 20px;
    color: #424949;
    text-align: center;
}

/* Cards */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.card h3 {
    font-size: 15px;
    color: #1B4F72;
}

.card p {
    font-size: 26px;
    font-weight: bold;
    color: #3f51b5;
}

/* Table */
table {
    width: 100%;
    background: #f5eee4;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

th {
    background: #003262;
    color: #f5eee4;
    padding: 14px;
}

td {
    padding: 14px;
    font-size: 14px;
}

tr:nth-child(even) {
    background: #f5f7ff;
}

/* Image section (middle-right) */
.image-section {
    height: 450px;
    background: url("/static/inventory/css/inventory.png") no-repeat center;
    background-size:contain;
}

/* Footer */
.footer {
    background: #AED6F1;
    padding: 14px;
    text-align: center;
    font-size: 14px;
    color: darkslategray;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.4);
}

.footer span {
    color: #003262;
    font-weight: 600;
}

/* Responsive */
@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
    }

    .image-section {
        display: none;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
    }
}
